*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}


html {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  line-height: 1.25;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, rgba(247, 247, 247, 0.9) 0%, rgba(232, 232, 232, 0.9) 100%), #9a9a9a;
  color: #000;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1300px;
}

footer {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 2rem 2rem;
  /* padding: 5rem 5rem 5rem 0; */
}

.site__header {
  display: flex;
  position: absolute;
  margin-top: 2rem;
}

.site__nav {
  padding-bottom: 0;
  margin: 0 0 3rem 0;
}

.site__nav-button {
  color: #000;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  top: -5;
  left: 2%;
  transform: translate(-0%, 0%);
  position: absolute;
  z-index: 5;
}

.site__nav-list {
  list-style-type: none;
  height: 50vh;
  width: 100vmin;
  background-color: rgb(251, 119, 240);
  clip-path: circle(35px at 4% -13%);
  -webkit-clip-path: circle(35px at 4% -13%);
  transition: all 0.7s ease-out;
  z-index: 2;
}

.site__nav-list.open {
  background-color: rgb(251, 119, 240);
  clip-path: circle(400px at 4% -13%);
  -webkit-clip-path: circle(400px at 4% -13%);
  z-index: 4;
}

.site__nav-link {
  display: block;
  text-decoration: none;
  color: #000;
  padding-bottom: .625rem;
}

.site__nav-list li {
  margin: 1rem;
}

/* .site__nav-list li:last-child .site__nav-link {
  padding-bottom: 0;
} */

.site_logo{
  height: 1.5rem;
  width: 1.5rem;
}

.main {
  /* padding: 2rem 5rem 5rem 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main__portfolio-links span {
  font-size: 3rem;
  animation: span 2.5s linear infinite;
}

@keyframes span{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.main__portfolio-links span:hover {
  text-decoration: none;
}



.main__portfolio-cinemagraphic,
.main__portfolio  {
  min-height: 100vh;
}

.main__portfolio {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.main__portfolio-links {
  text-align: right;
  z-index: 2;
}

.portfolio__masonry {
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.3em;
  grid-auto-rows: 200px;
  max-width: 1200px;
  padding: 1rem;
  margin-bottom: 3rem;
}

.scrollToTopBtn {
  background-color: rgb(251, 119, 240);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1em;
  width: 2.5em;
}

.scrollToTopBtn span {
  margin: auto;
}

.scrollToTopBtn:hover {
  background-color: #000;
}

.container {
  position: relative;
  max-width: 350px;
}

.heading {
  font-size: 2.7rem;
  text-transform: uppercase;
  left: 1.5rem;
  position: absolute;
  top: -4rem;
  z-index: 1;
}

.heading__portfolio {
  font-size: 2rem;
  text-transform: uppercase; 
  text-align: center;
}

mark {
  color: #FFF;
  background-color: #000;
  line-height: 1.35;
  padding: .375rem;
}

.site__main--img-wrapper {
  width: 100%;
  display: inline-block;
}

.site__main--img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.site_main--img-polaroid {
  background-color: #FFF;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.5);
}

.main__portfolio-text {
  padding: 1rem;
  /* margin-top: 2rem; */
  text-align: left;
  line-height: 2rem;
}

.main__portfolio-text p {
  margin-top: 4rem;
}

.portfolio__cinemagraph {
  display: flex;
  flex-direction: column;
}

.portfolio__carousel-container {
  margin: auto;
  height: fit-content;
  /* width: 100%; */
  overflow: hidden;
}

.portfolio__carousel-slide {
  display: flex;
  width: 100%;
}

.portfolio__content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  /* margin: 0 10px 10px 10px; */
}

.portfolio__content img:hover {
  transform: scale(2);
}

.portfolio__carousel-container video {
  width: 100%;
  height: 20rem;
  margin: auto;
  padding: 0 0.5rem;
}

.main__portfolio-cinemagraphic-buttons {
  display: flex;
  justify-content: space-around;
}

.portfolio__carousel__button-prev,
.portfolio__carousel__button-next {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2rem;
  color:rgb(0, 0, 0);
}

.teeth__container img {
  width: 95vw;
  height: 40vh;
  max-height: 40vh;
  object-fit: cover;
}

.teeth__container {
  position: relative;
  width: 95vw;
  height: 40vh;
  max-height: 40vh;
}

.teeth__img-before,
.teeth__img-after {
  position: absolute;
  width: 95vw;
}

.teeth__img-after {
  width: 47.5vw;
  overflow: hidden;
}

.slider {
  width: 0.5rem;
  background: #fff;
  height: 100%;
  z-index: 3;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  pointer-events: none;
}


.bio__container {
  height: 100vh;
  display: flex;
  /* overflow: hidden; */
  max-width: 1200px;
}

.bio__grid {
  width: calc(100vmin * (13/18));
  height: calc(100vmin);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.bio__big-letters {
  /* grid-area: 3 / 1 / 5 / 10; */
  grid-area: 1 / 1 / 2 / 5;
  color:rgba(251, 119, 240, 0.7);
  /* font-size: 2.4rem; */
  font-size: 10.76vmin;
  line-height: 11.75vmin;
  /* line-height: 0.75; */
  text-align: center;
  letter-spacing: -0.85vmin;
}

.bio__byline {
  grid-area: 3 / 2 / 11 / 3;
  writing-mode: vertical-rl;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  justify-self: center;
  font-weight: 900;
}

.bio__metadata {
  grid-area: 10 / 6 / 1 / 13;
  font-size: 1rem;
  text-align: right;
  align-self: end;
  line-height: 1.5;
}


.bio__metadata a,
.main__portfolio-links a,
.main__portfolio-links button,
.contact__big-text a {
  font-weight: 900;
  text-decoration: none;
  color:rgb(251, 119, 240);
}


.bio__metadata a:hover,
.main__portfolio-links button:hover,
.contact__big-text a:hover {
  font-weight: 100;
  color: #000;
}

.bio__metadata a {
  animation: animate 2.5s linear infinite;
  
}

@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
    font-size: 1.3rem;
  }
  75%{
    opacity: 1;
    font-size: 1.3rem;
  }
  100%{
    opacity: 0;
  }
}

.main__portfolio-links a:hover {
  font-weight: 100;
  text-decoration: underline;
  color: rgb(247, 247, 247)
}

.main__portfolio-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* margin: 1rem 0 0; */
  position: relative;
}

.main__portfolio-links  ul {
  background-color: rgba(0,0,0,1);
  padding: 2rem;
  clip-path: circle(10px at 90% -10%);
  -webkit-clip-path: circle(10px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: none;
}

.main__portfolio-links ul.open {
  clip-path: circle(250px at 90% -10%);
  -webkit-clip-path: circle(250px at 90% -10%);
  transition: all 1s ease-out;
  pointer-events: all;
}

.main__portfolio-links button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main__portfolio-links ul {
  list-style: none;
}

.main__portfolio-links li {
  text-align: right;
  opacity: 0;
}
.main__portfolio-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.main__portfolio-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.main__portfolio-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

li.fade{
  opacity: 1;
}

/* Contact  */
.contact__big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 2rem;
}

.contact__intro {
  background: rgb(251, 119, 240);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__intro-text {
  color: rgb(2, 1, 1);
  font-size: 1.5rem;
}

.contact__intro__text-hide {
  background: rgb(251, 119, 240);
  overflow: hidden;
}

.contact__intro__text-visible {
  transform: translateY(100%);
  display: inline-block;
}

.contact__slider {
  /* background: rgb(2, 1, 1); */
  background: radial-gradient(50% 50% at 50% 50%, rgba(247, 247, 247, 0.9) 0%, rgba(232, 232, 232, 0.9) 100%), #9a9a9a;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

@media screen and (min-width: 40rem) {
  .heading {
  font-size: 5.3rem;
  left: 0.9rem;
  top: -7rem;
  }

  .site__header {
    display: flex;
    position: absolute;
    top: 0;
    right: 1.25rem;
    writing-mode: vertical-rl;
    height: 100%;
    padding: 1.25rem 0;
    z-index: 2;
  }

  .site__header > * {
    flex: 1 1 auto;
    padding-bottom: .625rem;
  }

  .site__nav-list {
    position: fixed;
    top: 0;
    right: 1.25rem;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    display: flex;
    width: 2rem;
    height: 100vh;
    clip-path: none;
    background: transparent;
  }

  .site__nav-list.open {
    clip-path: none;
    background: transparent;
  }

  .site__nav-link.open {
    position: fixed;
    height: 100%;
  }

  .site__nav-list li {
    margin: 0;
  }

  .main__portfolio-cinemagraphic {
    padding: 2rem 5rem 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .site__nav-wrapper {
    display: none;
  }

  .heading__portfolio {
    font-size: 2rem;
  }

  .main__portfolio-text p {
    margin-top: 0;
  }

  .main__portfolio-cinemagraphic {
    display: flex;
    flex-direction: column;
  }

  .main__portfolio-text {
    display: flex;
    padding: 2rem;
    margin-top: 0;
  }

  .portfolio__content img {
    padding: 1rem;
    object-fit: cover;
  }

  .portfolio__carousel-container {
    width: 80%;
  }

  .container {
    max-width: 600px;
  }

  .site__main--img-polaroid {
    padding: 1.2rem;
  }

  .main__portfolio {
    flex-direction: row;
    padding: 2rem 5rem 5rem 0;
  }

  .portfolio__masonry {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0.6em;
    grid-row-gap: 4em;
  }

  .teeth__container {
    width: 75vw;
    height: 60vw;
    max-height: 45vh;
  }

  .teeth__img-before,
  .teeth__img-after {
    width: 75vw;
}

  .teeth__container img {
    width: 75vw;
    max-height: 45vh;
  }

  .teeth__img-after {
    width: 37.5vw;
  }

  .portfolio__carousel-container video {
    height: 25rem;
  }

  .bio__big-letters {
    grid-area: 2 / 1 / 5 / 9;
    font-size: 5rem;
    line-height: 1.3;
  }

  .bio__byline {
    grid-area: 1 / 1 / 11 / 1;
    font-size: 1rem;
    letter-spacing: 0rem;
  }

  .bio__metadata {
    grid-area: 1 / 10 / 10 / 13;
  }

  .contact__big-text {
    font-size: 3rem;
    top: 40%;
    transform: translate(-55%, -40%);
  }
  
}

@media screen and (min-width: 60rem) {
  .heading {
  font-size: 7.1rem;
  left: 1.2rem;
  }

  .heading__portfolio {
    font-size: 2.7rem;
  }

  .container {
    max-width: 800px;
  }

  .site__main--img-polaroid{
    padding: 2.2rem;
  }

  .portfolio__masonry{
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0.6em;
    grid-row-gap: 10em;
  }

  .teeth__container {
    width: 55vw;
    height: 45vh;
    max-height: 45vh;
  }

  .teeth__img-before,
  .teeth__img-after {
  width: 55vw;
}

  .teeth__container img {
    width: 55vw;
    height: 45vh;
    max-height: 45vh;
  }

  .teeth__img-after {
    width: 27.5vw;
  }


  .portfolio__carousel-container video {
    height: 35rem;
  }

  .bio__big-letters {
    grid-area: 3 / 1 / 5 / 10;
    color:rgba(251, 119, 240, 0.7);
    font-size: 10rem;
    line-height: 0.75;
    text-align: center;
    letter-spacing: -0.85vmin;
  }

  .bio__byline {
    grid-area: 3 / 2 / 11 / 3;
    writing-mode: vertical-rl;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    justify-self: center;
    font-weight: 900;
  }
}